* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ball {
  --y: 0;
  --b: .5px;
  width: 100vw;
  height: 300vh;
  backface-visibility: hidden;
  transform: translateY(calc(var(--y) * var(--b)));
  transition: transform var(--t) 0s linear;
  will-change: transform, transition;
}

.return {
  transform: translateY(0);
  transition: transform calc(var(--t) * 2) 0s ease-out;
}

p {
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.settings {
  z-index: 1000;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40vw;
  height: 20vh;
  padding: 10px;
  background-color: #fefefe;
  color: #1b1b1b;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
}